body{
    font-family: Helvetica;
    background-color: #e4f1fb;
    padding: 0;
    padding-bottom: 5em;
}

nav{
    background-color: #cde4f5;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    text-align: right;
}

/*
nav ul{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 1em;
    border-radius: 0.5em;
    margin: 0.1em;
    background-color: #b5d4ec;
}

nav a{
    font-color: #000;
    text-decoration: none;
}
*/

a.dropdown-item{
    display: block;
}

.footer{
    background-color: #cde4f5;
    text-align: center;
    padding: 1em;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p{
    font-size: 0.8em;
    margin: 0;
}
