body {
    font-family: Helvetica;
    background-color: #e4f1fb;
    padding: 1em;
}

nav {
    background-color: #cde4f5;
    border-radius: 0.5em;
}

nav ul{
    margin-left: auto;
    margin-right: auto;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding: 0.25em;
    border-radius: 0.25em;
    margin: 0.1em;
    background-color: #b5d4ec;
}

nav a:link {
    font-color: #000;
}

.footer {
    background-color: #cde4f5;
    text-align: center;
    border-radius: 0.5em;
    padding: 1em;
    position: fixed;
    bottom: 0;
}
.footer p {
    font-size: 0.8em;
    margin: 0;
}
